
li {
  list-style: none;
}

form {
  margin: 10px 0px;
  max-width: 300px;
}

form > button {
  margin-top: 5px;
}

.highlighted {
  font-size: larger;
}

.lootbag-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.edit-delete-lootbag {
  display: flex;
}

.fa-trash {
  color: red;
}

.fa-edit {
  color: blue
}

.outline {
  border: red solid 1px
}

#select-block, #item-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-bottom: 10px;
}

#currency-area {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: left;
}

#currency-area > #convert-currency-form {
  width: 120px
}

#currency-area > #currency-converted, #currency-history{
  margin-top: 10px
}

