{% extends 'base.html' %}
{% block content %}
  <div class="display-4">My Loot Bags</div>

  <br/>

  <a data-toggle="collapse" id="btn-new-lootbag" href="#lootbag-form" role="button" aria-expanded="false" aria-controls="lootbag-form" class="card-link btn btn-success">New Loot Bag</a>
  <form action="/add-lootbag" method="POST"  class="collapse  centered-form" id="lootbag-form">
    {{ form.hidden_tag() }}

    {% for field in form if field.widget.input_type != 'hidden' %}
      {% for error in field.errors %}
        <span class="text-danger">{{ error }}</span>
      {% endfor %}
      {{field.label}}
      {% if field.type == "BooleanField" %}
        
          {{ field(placeholder=field.label.text, class="form-check-input") }}
          <div></div>
      {% else %}
        {{ field(placeholder=field.label.text, class="form-control") }}
      {% endif %}
    {% endfor %}

    <button class="btn btn-primary btn-sm btn-block">Create!</button>
  </form>

  <br/>
  <br/>

  <ul class="list-group" id="lootbag-list">
    {% for lootbag in lootbags %}
    <li class="list-group-item lootbag-item">
      <a class="btn btn-primary" href="/lootbag/{{lootbag.id}}">{{lootbag.name}}</a>

      <div class="edit-delete">
        <form method="GET" action="/lootbag/{{lootbag.id}}/edit" class="form-inline">
          <button class="btn fas fa-edit ml-2"></button>
        </form>
        <form method="POST" action="/lootbag/{{lootbag.id}}/delete" class="form-inline">
          <button class="btn fas fa-trash ml-2"></button>
        </form>
      </div>
    </li>
    {% endfor %}
  </ul>

  
      
  <form method="GET" action="/confirm-delete" class="form-inline">
      <button class="btn btn-danger ml-2">Delete Profile</button>
  </form>
{% endblock %}