{% extends 'base.html' %}
{% block content %}
  <div class="display-2">My Loot Bags</div>

  <br/>

  <a data-toggle="collapse" href="#lootbag-form" role="button" aria-expanded="false" aria-controls="lootbag-form" class="card-link btn btn-success">New Loot Bag</a>
  <form action="/add-lootbag" method="POST"  class="collapse" id="lootbag-form">
    {{ form.hidden_tag() }}

    {% for field in form if field.widget.input_type != 'hidden' %}
      {% for error in field.errors %}
        <span class="text-danger">{{ error }}</span>
      {% endfor %}
      {{field.label}}
      {{ field(placeholder=field.label.text, class="form-control") }}
    {% endfor %}

    <button class="btn btn-primary btn-sm btn-block">Create!</button>
  </form>

  <br/>
  <br/>

  <ul class="list-group" id="lootbag-list">
    {% for lootbag in lootbags %}
    <li class="list-group-item lootbag-item">
      <a href="/lootbag/{{lootbag.id}}">{{lootbag.name}}</a>

      <div class="edit-delete-lootbag">
        <form method="GET" action="/lootbag/{{lootbag.id}}/edit" class="form-inline">
          <button class="btn fas fa-edit ml-2"></button>
        </form>
        <form method="POST" action="/lootbag/{{lootbag.id}}/delete" class="form-inline">
          <button class="btn fas fa-trash ml-2"></button>
        </form>
      </div>
    </li>
    
    {% endfor %}
  </ul>
{% endblock %}